{% extends 'base.html' %}

{% block content %}
<div class="span12">
    <h2>NFL Players List</h2>
    <form class="form-horizontal">
        <legend>Filter Controls</legend>
        <div class="control-group">
            <label class="control-label" for="search_pos">Name:</label>
            <div class="controls">
                {% if player_name %}
                <input type="text" value="{{ player_name }}" id="player_name">
                {% else %}
                <input type="text" placeholder="Player Name" id="player_name">
                {% endif %}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="search_pos">Position:</label>
            <div class="controls">
                <select id="search_pos">
                {% for value, item in search_position %}
                {% if item.selected %}
                <option selected="selected" value={{ value }}>{{ item.label }}</option>
                {% else %}
                <option value={{ value }}>{{ item.label }}</option>
                {% endif %}
                {% endfor %}
                </select>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <a id="run_filter" href="javascript://" class="btn btn-primary">Search</a>
            </div>
        </div>
    </form>
    <table class="table table-condensed">
        <tr>
            <th><a href='#'>Name</a></th>
            <th>Team</th>
            <th><a href='#'>Position</a></th>
            <th><a href='#'>Points</a></th>
        </tr>
    {% for item in object_list %}
    <tr>
        <td><a href='/{{ year }}/player/{{ item.player_key }}'>{{ item.first_name }} {{ item.last_name }}</a></td>
        <td>{{ item.team_name }}</td>
        <td>{{ item.position }}</td>
        <td>{{ item.season_points }}</td>
    </tr>
    {% endfor %}
    </table>
    {% if paginator.num_pages > 1 %}
    {% if page_obj.has_previous %}
    <div class="row offset4">
        <span class="span1">
        <a class="btn btn-small btn-block btn-primary" href="?{{ prev_page }}">previous</a>
        </span>
    {% else %}
    <div class="row offset5">
    {% endif %}

        <span class="span1">
            <center>{{ page_obj.number }} of {{ paginator.num_pages }}</center>
        </span>

        {% if page_obj.has_next %}
        <span class="span1">
        <a class="btn btn-small btn-block btn-primary" href="?{{ next_page }}">next</a>
        </span>
        {% endif %}
    </div>
    {% endif %}
</div>
{% endblock %}
