{% extends 'base.html' %}

{% block content %}
<div class="span10 offset1">
    <div class="page-header">
        <h1>{{ object.first_name }} {{ object.last_name }} <small>{{ object.team_name }}</small></h1>
    </div>
    <legend>Weekly Stats</legend>
    <div class="span9">
        <table class="table table-condensed table-bordered">
            <tr>
                {% for header in stat_headers %}
                <th>{{ header }}</th>
                {% endfor %}
            </tr>
            {% for stat in stat_list %}
            <tr>
                {% for item in stat %}
                <td>{{ item }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
    <legend>Statistical Analysis</legend>
    <div class="span3">
        <table class="table table-condensed">
            <tr>
                <th>Stat</th>
                <th>Value</th>
            </tr>
            {% for name, value in stat_rows %}
            <tr>
                <td>{{ name }}</td>
                <td>{{ value }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
