{% extends 'base.html' %}

{% block content %}
<div class="span8 offset2">
    <h2>{{ league.year }} {{ league.name }}</h2>
    <table class="table table-condensed">
        <tr>
            <th>Rank</th>
            <th>Name</th>
            <th>W-L-T</th>
        </tr>
    {% for item in object_list %}
    <tr>
        <td>{{ item.rank }}</td>
        <td><a href='/{{ league_key }}/team/{{ item.id }}'>{{ item.name }}</a></td>
        <td>{{ item.wins }}-{{ item.losses }}-{{ item.ties }}</td>
    </tr>
    {% endfor %}
    </table>
</div>
{% endblock %}
